<!DOCTYPE html>
<html>
	<head>
		<title>Salon || App</title>
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
	</head>
	<body>
		<div class="container">
			<div class="box">
				
				#parse($view)
				
			</div>
		</div>
	</body>
</html>