<h3 class="list-h3">Client Name <small>$stylist.getName1()</small></h3>
<hr>

<div>
	<div class="col-md-4">
		<span class="glyphicon glyphicon-user my-user-user image img-thumbnail"></span> <!-- user image here -->
	</div>
	<div class="col-md-8"> <!-- user details -->
		<ul class="list-group">
			<li class="list-group-item"><strong>Full Names : </strong> $stylist.getName1() $stylist.getName2()</li>
		</ul>
	</div>
</div>